<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M3_R_Foundamentals/images/SN_web_lightmode.png" width="300"> 
<center/>

<h1>Importing Data in R</h1>


## Objectives

After completing this lab you will be able to:

-   Import csv and excel file
-   Access rows and columns from dataset
-   Access R built-in dataset

## Table of Contents

<ul>
<li><a href="#About-the-Dataset">About the Dataset</a></li>
<li><a href="#Reading-CSV-Files">Reading CSV Files</a></li>
<li><a href="#Reading-Excel-Files">Reading Excel Files</a></li>
<li><a href="#Accessing-Rows-and-Columns">Accessing Rows and Columns from dataset</a></li>
<li><a href="#Accessing-Built-in-Datasets-in-R">Accessing Built-in Datasets in R</a></li>
</ul>

<hr>

<a id="ref0"></a>

<h2 align=center>About the Dataset</h2>

**Movies dataset**

Here we have a dataset that includes one row for each movie, with several columns for each movie characteristic:

-   **name** - Name of the movie
-   **year** - Year the movie was released
-   **length_min** - Length of the movie (minutes)
-   **genre** - Genre of the movie
-   **average_rating** - Average rating on [IMDB](http://www.imdb.com?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
-   **cost_millions** - Movie's production cost (millions in USD)
-   **foreign** - Is the movie foreign (1) or domestic (0)?
-   **age_restriction** - Age restriction for the movie
    <br>

<img src="https://ibm.box.com/shared/static/6kr8sg0n6pc40zd1xn6hjhtvy3k7cmeq.png" width="90%" align="left">

Let's learn how to **import and read data** from two common types of files used to store tabular data (when data is stored in a table or a spreadsheet.)

-   **CSV files** (.csv)
-   **Excel files** (.xls or .xlsx)

To begin, we'll need to **download the data**!

<a id="ref0"></a>

<h2 align=center>Download the Data</h2>

We've made it easy for you to get the data, which we've hosted online. Simply run the code cell below (Shift + Enter) to download the data to your current folder.

In [2]:
# Download datasets

# CSV file
download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/dataset/movies-db.csv", 
              destfile="movies-db.csv")

# XLS file
download.file("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/dataset/movies-db.xls", 
              destfile="movies-db.xls")

NameError: name 'download' is not defined

**If you ran the cell above, you have now downloaded the following files to your current folder:**

> movies-db.csv  
> movies-db.xls

<a id="ref1"></a>

<center><h2>Reading CSV Files</h2></center>

#### What are CSV files?

Let's read data from a CSV file. CSV (Comma Separated Values) is one of the most common formats of structured data you will find. These files contain data in a table format, where in each row, columns are separated by a delimiter -- traditionally, a comma (hence comma-separated values).   

Usually, the first line in a CSV file contains the column names for the table itself. CSV files are popular because you do not need a particular program to open it.

#### Reading CSV files in R

In the **`movies-db.csv`** file, the first line of text is the header (names of each of the columns), followed by rows of movie information.

To read CSV files into R, we use the core function **`read.csv`**.  

`read.csv` easy to use. All you need is the filepath to the CSV file. Let's try loading the file using the filepath to the `movies-db.csv` file we downloaded earlier:

In [3]:
# Load the CSV table into the my_data variable.
my_data <- read.csv("movies-db.csv")
#my_data

The data was loaded into the `my_data` variable. But instead of viewing all the data at once, we can use the `head` function to take a look at only the top six rows of our table, like so:

### 1- Print out the first six rows of my_data

In [5]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

head(my_data)

  name               year length_min genre     average_rating cost_millions
1 Toy Story          1995  81        Animation 8.3            30.0
2 Akira              1998 125        Animation 8.1            10.4
3 The Breakfast Club 1985  97        Drama     7.9             1.0
4 The Artist         2011 100        Romance   8.0            15.0
5 Modern Times       1936  87        Comedy    8.6             1.5
6 Fight Club         1999 139        Drama     8.9            63.0
  foreign age_restriction
1 0        0
2 1       14
3 0       14
4 1       12
5 0       10
6 0       18

Additionally, you may want to take a look at the **structure** of your newly created table. R provides us with a function that summarizes an entire table's properties, called `str`. Let's try it out.

### 2- Prints out the structure of your table.

In [6]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
#str(my_data)

When we loaded the file with the `read.csv` function, we had to only pass it one parameter -- the **path** to our desired file.



### 3 - Get the summary of my_data data frame

In [6]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

summary(my_data)

                         name         year        length_min           genre
 Akira                     : 1   Min.   :1936   Min.   : 81.00   Drama    :7
 American Beauty           : 1   1st Qu.:1988   1st Qu.: 99.25   Comedy   :5
 Back to the Future        : 1   Median :1998   Median :110.50   Crime    :4
 Black Swan                : 1   Mean   :1996   Mean   :116.80   Animation:2
 Blue is the Warmest Colour: 1   3rd Qu.:2008   3rd Qu.:124.25   Biography:2
 Casino                    : 1   Max.   :2015   Max.   :179.00   Horror   :2
 (Other)                   :24                                   (Other)  :8
 average_rating  cost_millions        foreign    age_restriction
 Min.   :5.200   Min.   :  0.400   Min.   :0.0   Min.   : 0.00
 1st Qu.:7.925   1st Qu.:  3.525   1st Qu.:0.0   1st Qu.:12.00
 Median :8.300   Median : 13.000   Median :0.0   Median :14.00
 Mean   :8.103   Mean   : 22.300   Mean   :0.4   Mean   :12.93
 3rd Qu.:8.500   3rd Qu.: 25.000   3rd Qu.:1.0   3rd Qu.:16.00
 Max.   :9.300   Max.   :165.000   Max.   :1.0   Max.   :18.00

<details><summary>Click here for the solution</summary>

```R
summary(my_data)

```

</details>

<hr>

<a id="ref2"></a>

<center><h2>Reading Excel Files</h2></center>

Reading XLS (Excel Spreadsheet) files is similar to reading CSV files, but there's one catch -- R does not have a native function to read them. However, thankfully, R has an extremely large repository of user-created functions, called _CRAN_. From there, we can download a library package to make us able to read XLS files.

To download a package, we use the `install.packages` function (may take minutes because it is a big library). Once installed, you do not need to install that same library ever again, unless, of course, you uninstall it.

Whenever you are going to use a library that is not native to R, you have to load it into the R environment after you install it. In other words, you need to install once only, but to use it, you must load it into R for every new session. To do so, use the `library` function, which loads up everything we can use in that library into R.

In [2]:
# Load the "readxl" library into the R environment.
library(readxl)

Now that we have our library and its functions ready, we can move on to actually reading the file. In `readxl`, there is a function called `read_excel`, which does all the work for us. You can use it like this:

### 4- Read data from the XLS file and attribute the table to the my_excel_data variable.

In [3]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
 my_excel_data <- read_excel("F:/movies-db.xls")

Since `my_excel_data` is now a dataframe in R, much like the one we created out of the CSV file, all of the native R functions can be applied to it, like `head` ad `str`.

### 5- Prints out the structure of your table.
 Tells you how many rows and columns there are, and the names and type of each column.
 This should be the very same as the other table we created, as they are the same dataset.

In [4]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

str(my_excel_data)

Classes 'tbl_df', 'tbl' and 'data.frame':	30 obs. of  8 variables:
 $ name           : chr  "Toy Story" "Akira" "The Breakfast Club" "The Artist" ...
 $ year           : num  1995 1998 1985 2011 1936 ...
 $ length_min     : num  81 125 97 100 87 139 130 119 121 122 ...
 $ genre          : chr  "Animation" "Animation" "Drama" "Romance" ...
 $ average_rating : num  8.3 8.1 7.9 8 8.6 8.9 8.7 7.9 8.7 8.4 ...
 $ cost_millions  : num  30 10.4 1 15 1.5 63 3.3 25 11 15 ...
 $ foreign        : num  0 1 0 1 0 0 1 0 0 0 ...
 $ age_restriction: num  0 14 14 12 10 18 18 14 10 14 ...

Much like the `read.csv` function, `read_excel` takes as its main parameter the **path** to the desired file.

<div class="alert alert-success alertsuccess">
<b>[Tip]</b>   
A library is basically a collection of different classes and functions which are used to perform some specific operations. You can install and use libraries to add more functions that are not included on the core R files.
For example, the readxl library adds functions to read data from excel files.
<br><br>
It's important to know that there are many other libraries too which can be used for a variety of things. There are also plenty of other libraries to read Excel files -- readxl is just one of them.
</div>

* * *

<center><h2>Accessing Rows and Columns</h2></center>

Whenever we use functions to read tabular data in R, the default method of structuring this data in the R environment is using Data Frames -- R's primary data structure. Data Frames are extremely versatile, and R presents us many options to manipulate them.

Suppose we want to access the "name" column of our dataset. We can directly reference the column name on our data frame to retrieve this data.

### 6- Retrieve a subset of the data frame consisting of the "name" columns

In [11]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
# my_data['name']

 Another way to do this is by using the `$` notation which at the output will provide a vector:
### 7-Retrieve the data for the "name" column in the data frame.

In [12]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
# my_data$name

### 8-Retrieve the data for the "name" column in the data frame using **double square brackets**

In [13]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
# my_data[["name"]]

Similarly, any particular row of the dataset can also be accessed. For example, to get the first row of the dataset with all column values, we can use:

In [ ]:
# Retrieve the first row of the data frame.
my_data[1,]

The first value before the comma represents the **row** of the dataset and the second value (which is blank in the above example) represents the **column** of the dataset to be retrieved. By setting the first number as 1 we say we want data from row 1. By leaving the column blank we say we want all the columns in that row.

We can specify more than one column or row by using **`c`**, the **concatenate** function. By using `c` to concatenate a list of elements, we tell R that we want these observations out of the data frame. Let's try it out.

In [ ]:
# Retrieve the first row of the data frame, but only the "name" and "length_min" columns.
my_data[1, c("name","length_min")]

* * *

<a id="ref4"></a>

<center><h2>Accessing Built-in Datasets in R</h2></center>

R provides various built-in datasets for users to utilize for different purposes. To know which datasets are available, R provides a simple function -- `data` -- that returns all of the present datasets' names with a small description beside them. The ones in the `datasets` package are all inbuilt.

In [28]:
# Displays a list of the inbuilt datasets. Opens in a new "window".
data()

As you can see, there are many different datasets already inbuilt in the R environment. Having to go through each of them to take a look at their structure and try to find out what they represent might be very tiring. Thankfully, R has documentation present for each inbuilt dataset. You can take a look at that by using the `help` function.

For example, if we want to know more about the `women` dataset, we can use the following function:

In [16]:
# Opens up the documentation for the inbuilt "women" dataset.
help(women)

Since the datasets listed are inbuilt, you do not need to import or load them to use them. If you reference them by their name, R already has the data frame ready.

In [27]:
women

   height weight
1  58     115
2  59     117
3  60     120
4  61     123
5  62     126
6  63     129
7  64     132
8  65     135
9  66     139
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

<hr>

**Coding Exercise:** in the code cell below, get the CO2 dataset

In [32]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
# data(CO2)

# CO2

<details><summary>Click here for the solution</summary>

```R
co2

```

</details>

<hr>


### Scaling R with big data

As you learn more about R, if you are interested in exploring platforms that can help you run analyses at scale, you might want to sign up for a free account on [IBM Watson Studio](http://cocl.us/dsx_rp0101en), which allows you to run analyses in R with two Spark executors for free.

<hr>

# Vectors and Factors
Welcome!
By the end of this notebook, you will have learned about vectors and factors, two very important data structures in R.

Objectives
After completing this lab you will be able to:

Understand R vector via coding practices

Perform vector operations

Understand R factor via coding practices

Perform factor operations

### Vectors

Vectors are collections of numbers, characters or logical data organized in a one dimensional array. In other words, a vector is a simple tool to store your grouped data, element by element.

In R, you create a vector with the combine function c(). You place the vector elements separated by a comma between the brackets.

Vectors will be very useful in the future as they allow you to apply operations on a series of data easily.

Note that the elements in a vector must be of the same class, for example all should be either number, character, or logical.

### Numeric, Character, and Logical VectorsÂ¶

Let's say we have four movie release dates (1985, 1999, 2015, 1964) and we want to assign them to a single variable, release_year. This means we'll need to create a vector using the c() function to combine them.

Using numbers, this becomes a numeric vector.

### Authors

Hi! It's [Iqbal Singh](https://ca.linkedin.com/in/iqbalsingh15?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera889-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) and [Walter Gomes](https://br.linkedin.com/in/walter-gomes-de-amorim-junior-624726121?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera889-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-RP0101EN-SkillsNetwork-20900564&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ), the authors of this notebook. 
I hope you found it easy to learn how to import data into R! Feel free to connect with us if you have any questions.

### Other Contributors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0101ENCoursera889-2022-01-01">Yan Luo</a>